{% extends 'base.html' %}

{% block breadcrumb %}
    <li class = "breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
    <table class = "table">
        <thead class = "thead-inverse" style="background-color:black">
            <tr><!--a row-->
                <th style="color: white">Board</th><!--a head cell-->
                <th style="color:white">Posts</th>
                <th style="color:white">Topics</th>
                <th style="color:white">Last Post</th>
            </tr>
        </thead>
        <tbody>
            <!--Django Template Language-->
            <!--Before we can use this HTML page, 
                we have to tell Django where to find our application’s templates.-->
            <!--go to setting.py and set DIRS key to the path of templates-->
            {% for board in boards %}
                <tr>
                    <!--cell for Board-->
                    <td>
                        <!--% url URLname arbitrary-num-argu % template tag to compose the applications URLs-->
                        <a href="{%url 'board_topics' board.pk %}">{{board.name}}</a>
                        <small class="text-muted d-block">{{board.description}}</small>
                    </td>
                    <!--cell for Posts-->
                    <td class="align-middle">0</td>
                    <!--cell for Topics-->
                    <td class="align-middle">0</td>
                    <!--cell for Last post-->
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endblock %}